section#next.templateux-portfolio-overlap
    .container-fluid
        .row(data-aos='fade-up', data-aos-delay=500)
            .col-md-6
                a.project.animsition-link(href='https://webpack.js.org', target="_blank")
                    figure
                        img.img-fluid(src=require('images/webpack.png'), alt='Webpack 7')
                    .project-hover
                        .project-hover-inner
                            h2 Amazing Bundling
                            span Webpack 4 at your service
            .col-md-6
                a.project.animsition-link(href='https://babeljs.io/', target="_blank")
                    figure
                        img.img-fluid(src=require('images/babel.png'), alt='Babel 7')
                    .project-hover
                        .project-hover-inner
                            h2 All Dialects Of The World
                            span With Babel 7
        // END row
        //.row(data-aos='fade-up',, data-aos-delay=600)
        //    .col-lg-4.col-md-6
        //        a.project.animsition-link(href='work-single.html')
        //            figure
        //                img.img-fluid(src=require('images/img_3.jpg'), alt='Free Template')
        //            .project-hover
        //                .project-hover-inner
        //                    h2 Moon High Res
        //                    span View Case Study
        //    .col-lg-4.col-md-6
        //        a.project.animsition-link(href='work-single.html')
        //            figure
        //                img.img-fluid(src=require('images/img_4.jpg'), alt='Free Template')
        //            .project-hover
        //                .project-hover-inner
        //                    h2 H20 Water Bottle
        //                    span View Case Study
        //    .col-lg-4.col-md-6
        //        a.project.animsition-link(href='work-single.html')
        //            figure
        //                img.img-fluid(src=require('images/img_5.jpg'), alt='Free Template')
        //            .project-hover
        //                .project-hover-inner
        //                    h2 Creatsy Mailing Box
        //                    span View Case Study